{% extends "base.html" %}
{% block title %}Verification{% endblock %}
{% block content %}
{% if exists %}
        <p>User {{ first_name }} {{ last_name }} exists.</p>
    {% else %}
        <p>User {{ first_name }} {{ last_name }} does not exist.</p>
    {% endif %}
    <!-- <p>Redirecting in 5 seconds...</p> -->
    <p id="countdown" data-exists = "{{exists}}">Redirecting in 5 seconds...</p>

    <!-- JavaScript for countdown -->
    <script>
        var seconds = 5;
        // Someting to refer to exists variable
        var exists = document.getElementById("countdown").dataset.exists;
        function countdown() {
            document.getElementById("countdown").innerHTML = "Redirecting in " + seconds + " seconds...";
            if (seconds == 0) {
                console.log(exists);
                if(exists)
                    window.location.href = "/Post_Login";
                else
                    window.location.href = "/login";
            } else {
                seconds--;
                setTimeout(countdown, 1000);
            }
        }
        countdown();
    </script>

    <!-- <meta http-equiv="refresh" content="5;url=/Post_Login"> -->
{% endblock %}